.img-animal {
  height: 300px;
  background-color: $apple;
  background-repeat: no-repeat;
  background-size: cover;
}

.endangered-icon {
  height: 20px; width: 20px; background-color: $forest;
}

.map {
  background-color: $apple;
  height: 600px
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content p {
  margin: 0;
  font-size: 0.8rem;
  // text-align: center;
  font-family: $body-font;
}

.btn-flat {
  background: $forest;
}

.btn-flat:hover {
  background: $apple;
}

.chart {
  background-image: url("Chart-of-red-fox.png");
  height: 270px;
  background-size: cover;
  background-position: center;
}
