<div class="card alerts-container bg-white border rounded-2 border-2 border-danger">
  <div class="card-body">
    <div class="alerts-header flex flex-row">
      <i class="icon"></i>
      <h3>Alerts</h3>
    </div>
    <div class="custom-alert">Smoke detected</div>
  </div>
</div>
