<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'deer.jpeg' %>);">
  <div class="container">
    <h1>A comprehensive tool to <strong>safeguard</strong> park <strong>wildlife</strong></h1>
    <a class="btn btn-flat" href="#">View webcam</a>
  </div>
</div>
