<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'deer.jpeg' %>);">
  <div class="container">
    <h1>A comprehensive tool to <strong>safeguard</strong> park <strong>wildlife</strong></h1>
    <%= link_to "View Black Bear", animal_path(Animal.find_by(slug: 'black-bear')), class: "btn btn-flat" %>
    <%= link_to "View Red Fox", animal_path(Animal.find_by(slug: 'red-fox')), class: "btn btn-flat" %>
  </div>
</div>
