<div
  class="bg-image"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url(<%= asset_url 'deer.jpeg' %>);">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>A comprehensive tool to <strong>safeguard</strong> park <strong>wildlife</strong>.</h1>
      </div>
      <div class="col-3"></div>
      <div class="col-3">
        <%= render "shared/alerts" %>
      </div>
    </div>
  </div>
</div>
