<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-5"><%=@animal.name%> live in Yosemite</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <iframe width="720" height="405" src=<%= @animal.video_url %> title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-3">
      <%= render "shared/alerts" %>
    </div>
  </div>
</div>
