.alerts-container {
  // border: 1px solid $red;

  .icon {
    height: 28px;
    width: 28px;
    background-color: $red;
  }

  a {text-decoration: none;}
}

.custom-alert {
  text-decoration: none!important;
  color: $black;
  background-color: $light;
  border-radius: 0.5rem;
  padding: 1em;
  width: 100%;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.custom-alert:hover {
  background-color: $gray;
  cursor: pointer;
}

.alert-icon {
  max-height: 28px;
  max-width: 28px;
}
