// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.nav-spaced {
  margin-left: auto;
  gap: 2em;
}

.navbar {
  z-index: 20;
  margin-top: 2.5em;
}
